{% macro formatUser(user) %}
 <i class="fa fa-user"></i>
 {{user}}
{% endmacro %}

{% macro show_form_errors(f) %}
  {% for k in f %}
   {% if k.errors[0] %}
    <div class="alert alert-danger">
    {{k.errors[0]}}
    </div>
   {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_field_with_errors(field) %}
 <div class="form-group">
  <div class="col-sm-3 control-label">{{ field.label }}</div>
  <div class="col-sm-9">
   {{ field(**kwargs)|safe }}
  </div>
 </div>
  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}
