{% from "_macros.html" import showPost with context %}

{% extends "layout.html" %}
{% block content %}
{% include "_messages.html" %}

<div class="row">

 <ol class="breadcrumb">
  {% for newsort in ["trending", "created", "active", "cashout",
                   "payout", "votes", "children", "hot"] %}
    <li {% if sort == newsort %} class="active" {% endif %}>
      <a href="{{ url_for("browse", sort=newsort) }}">{{newsort}}</a>
    </li>
  {% endfor %}
 </ol>

 <div class="col-md-10">
  {% for post in posts[:10] %}
   {{ showPost(post, "excerpt") }}
  {% endfor %}

  <div class="text-center">
   <a class="btn btn-primary btn-block"
      href="{{url_for("browse", sort=sort, category=category, start=posts[-1].identifier, _external=True)}}">
      read more</a>
  </div>
 </div>

 <div class="col-md-2">
  <div class="panel panel-default">
   <div class="panel-heading">Tags</div>
   <ul class="list-group">
    {% for tag in tags %}
    <li class="list-group-item">
     <a href="{{url_for("browse", category=tag.name, sort=sort)}}">
        {{tag.name}}
     </a>
        <span class="badge"
              data-toogle="tooltip"
              data-placement="right"
              title="Payouts: {{tag.total_payouts}}">{{tag.discussions}}</span>
    </li>
    {% endfor %}
   </ul>
  </div>
 </div>

</div>

{% endblock %}
