{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block title %}piston.web{% endblock %}


{% block styles %}
{{super()}}
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  {% assets "css_main" %}
  <link rel='stylesheet' href='{{ ASSET_URL }}'>
  {% endassets %}
  {% assets "css_libs" %}
  <link rel='stylesheet' href='{{ ASSET_URL }}'>
  {% endassets %}
  <style>
  body {
      padding-top: 70px;
  }
  </style>
{% endblock %}


{% block navbar %}
  <div class='notifications top-right' id="notify"></div>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container">
    <div class="navbar-header">
     <a class="navbar-brand" href="/"><img alt="piston.web" src="{{ url_for('static', filename = 'img/logo.png') }}" height="30px"/></a>
    </div>
    <div class="collapse navbar-collapse">

     <ul class="nav navbar-nav" role="tablist">
      <li role="presentation"><a href="{{url_for('browse')}}"><i class="fa fa-book"></i> Browse</a></li>
      <li role="presentation"><a href="{{url_for('post')}}"><i class="fa fa-pencil"></i> Submit Post</a></li>
      <li role="presentation"><a href="{{url_for('wallet')}}"><i class="fa fa-key"></i> Wallet</a></li>
      <!--
      <li role="presentation"><a href="{{url_for('trade')}}"><i class="fa fa-exchange"></i> Trade</a></li>
      <li role="presentation"><a href="{{url_for('transfer')}}"><i class="fa fa-credit-card"></i> Transfer</a></li>
      //-->
     </ul>

     <ul class="nav navbar-nav navbar-right">
      <li><span class="navbar-text">
           <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#unlockModal">
           {% if wallet.locked() %}
           <i class="fa fa-lock walletLock"></i>
           {% else %}
           <i class="fa fa-unlock walletLock"></i>
           {% endif %}
           </button>
          </span>
      </li>
      <li><a href="#" id="activeAccount"></a></li>
      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Account<span class="caret"></span>
       </a>
       <ul class="dropdown-menu">
       {% for account in accounts %}
        <li class="accountSelector" id="{{account}}"><a href="#">
         <i class="fa fa-user"></i> {{ account }}
                       {% for permission in accounts[account] %}
                        {% if accounts[account][permission] %}
                         {% if permission == "owner" %}
                          <span class="text-dander">
                         {% elif permission == "active" %}
                          <span class="text-warning">
                         {% elif permission == "posting" %}
                          <span class="text-success">
                         {% elif permission == "memo" %}
                          <span class="text-info">
                         {% endif %}
                         <i class="fa fa-key" 
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            title="{{permission}} key is available"></i>
                         </span>
                        {% endif %}
                       {% endfor %}
         </a></li>
       {% endfor %}
       </ul>
      </li>
      <li role="presentation"><a href="{{url_for("settings")}}"><i class="fa fa-sliders"></i> Settings</a></li>
    </ul>

    </div>
   </div>
  </nav>

  <div class="modal fade" id="unlockModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Unlock Wallet</h4>
        </div>
        <div class="modal-body">
         <div class="input-group">
          <input type="password" id="unlockpassword" class="form-control" placeholder="password">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="unlockWallet">Unlock</button>
          </span>
         </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
   <div class="row">
    <div class="col-md-12">
{% endblock %}


{% block scripts %}
    </div>
   </div>
  </div>

  <footer class="footer">
   <div class="container">
    <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav" role="tablist">
      <!--
       <li role="presentation"><a href=""><i class="fa fa-heartbeat"></i> Status</a></li>
      //-->
     </ul>
    </div>
   </div>
  </footer>

{{super()}}
{% assets "js_main" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "js_libs" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{{google.uanalytics(config['GOOGLE_ANALYTICS_ID'])}}
{% endblock %}
