<h1>{{user.name}}</h1>

<nav class="navbar navbar-default" role="navigation">
 <div class="container">
  <div class="collapse navbar-collapse">
   <ul class="nav navbar-nav" role="tablist">
    <li role="presentation"><a href="{{url_for('user_blog', user=user.name)}}"><i class="fa fa-book"></i> Blog</a></li>
    <li role="presentation"><a href="{{url_for('user_replies', user=user.name)}}"><i class="fa fa-comments"></i> Replies</a></li>
    <li role="presentation"><a href="{{url_for('user_funds', user=user.name)}}"><i class="fa fa-money"></i> Funds</a></li>
   </ul>
  </div>
 </div>
</nav>
