{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import formatUser %}

{% extends "layout.html" %}
{% block content %}
{% include "_messages.html" %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Available Accounts</h3>
  </div>
  <div class="panel-body">
   <table class="table">
    <thead>
     <tr>
      <th>Actions</th>
      <th>Account name</th>
      <th>Available Keys</th>
     </tr>
    </thead>
    <tbody>
     {% for account in accounts %}
     <tr>
      <td>
       <button type="button" 
               class="btn btn-default btn-xs accountSelector" 
               id="{{account}}"
               data-toggle="tooltip" 
               data-placement="bottom" 
               title="Pick this account for posting/voting/etc.." >
        <i class="fa fa-check"></i>
       </button>
       <a type="button" 
               class="btn btn-xs btn-warning" 
               id="{{account}}"
               data-toggle="tooltip" 
               data-placement="bottom" 
               title="Show private keys" 
               href="{{url_for("showPrivateKeys", account=account)}}">
        <i class="fa fa-key"></i>
       </a>
       <a type="button"
               class="btn btn-xs btn-danger" 
               href="{{url_for("removeAccount", account=account)}}"
               data-toggle="tooltip" 
               data-placement="bottom" 
               title="Remove this account from the wallet" >
        <i class="fa fa-trash"></i>
       </a>
      </td>
      <td>
       {{ formatUser(account) }}
      </td>
      <td>
        {% for permission in accounts[account] %}
         {% if accounts[account][permission] %}
          {% if permission == "owner" %}
           <span class="text-dander">
          {% elif permission == "active" %}
           <span class="text-warning">
          {% elif permission == "posting" %}
           <span class="text-success">
          {% elif permission == "memo" %}
           <span class="text-info">
          {% endif %}
          <i class="fa fa-key" 
             data-toggle="tooltip" 
             data-placement="bottom" 
             title="{{permission}} key is available"></i>
          </span>
         {% endif %}
        {% endfor %}
      </td>
     {% endfor %}
    </tbody>
   </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Import Acount</h3>
  </div>
  <div class="panel-body">
   <div class="alert alert-warning" role="alert"><strong>No owner</strong> key will be imported!</div>
  {{ wtf.quick_form(import_accountpwd) }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Import (any) Private Key</h3>
  </div>
  <div class="panel-body">
  {{ wtf.quick_form(import_wifForm) }}
  </div>
</div>

{% endblock %}
